.card {
  position: relative;
}

.card img {
  width: 50%;
  border: 2px solid #fff;
  border-radius: 6px;
  height: 100%;
}

/* front of card -pic */
.card .front {
  transform: rotateY(90deg); /*hides it*/
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg); /* see image */
}
